.forgot-container {
    height: 100vh;
    background-color: #e6f2f7; /* Light blue */
  }
  
  .forgot-box {
    background: white;
    padding: 40px;
    border-radius: 25px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .logo-img {
    width: 70px;
    height: auto;
  }
  
  .btn-dark {
    background-color: #001233;
    border: none;
  }
  
  .btn-dark:hover {
    background-color: #002b5c;
  }
  